<mat-toolbar>
	<button mat-icon-button [matMenuTriggerFor]="menu">
	  <i class="material-icons icon">menu</i>
	</button>
	<mat-menu #menu="matMenu" [overlapTrigger]="false">
	  <button mat-menu-item routerLink="/help">
	    <mat-icon>help_outline</mat-icon>
	    <span>Help</span>
	  </button>
	  <button mat-menu-item routerLink="/resources">
	    <mat-icon>info_outline</mat-icon>
	    <span>Resources</span>
	  </button>
	  <button mat-menu-item>
	    <mat-icon>input</mat-icon>
	    <span>Logout</span>
	  </button>
	</mat-menu>

	<span class="title"><a routerLink="/">tutor up</a></span>
	<span class="spacer"></span>
	<i class="material-icons icon"><a routerLink="/create">person_add</a></i>
	<i class="material-icons icon"><a routerLink="/profile">person</a></i>
</mat-toolbar>