.tutor-heading {
	margin: 40px 0px 15px 0px;
	padding: 15px 0px;
	text-align: center;
	border-bottom: 2px solid #1E1656;
	color: #494949;
	text-transform: uppercase;
}

.submit-button {
	margin-top: 25px;
	margin-bottom: 50px;
}

.course-heading {
	margin: 40px 0px 15px 0px;
	padding: 15px 0px;
	color: #494949;
	text-transform: uppercase;
}

.add-course-button {
	padding: 5px 8px;
	border: 1px solid #494949;
	color: #494949;
	text-transform: uppercase;
	border-radius: 30px;
}

.add-course-button:hover {
	background: #494949;
	color: #FFF;
}

.material-icons {
    position: relative;
    top: 5px;
    cursor: pointer;
}