<app-header></app-header>

<div class="container">

	<h3 class="title">tutoring resources</h3>

	<div class="row">
		<div class="col-sm">
			<h4 class="list-heading">Useful Tutoring Links</h4>
			<ul>
				<li>Link One</li>
				<li>Link Two</li>
				<li>Link Three</li>
				<li>Link Four</li>
			</ul>
		</div>

		<div class="col-sm">
			<h4 class="list-heading">Campus Tutoring Programs</h4>
			<ul>
				<li>Shepard Academic Resource Center</li>
				<li>Tau Beta Pi (for engineering students)</li>
				<li>Physics Open Lab</li>
				<li>Athletics Assistance</li>
				<li>ROTC Assistance</li>
			</ul>
		</div>
		
	</div>

</div>