<app-header></app-header>

<div class="container">

	<h3 class="title">How to Use Tutor UP</h3>

	<div class="row">

		<div class="col-sm">
			<h4 class="list-heading">Seeking to learn</h4>
			<ul>
				<li>View the the list of tutors (link to tutor page)</li>
				<li>Filtering by major or course will narrow down the list to help you find tutors for specific needs.</li>
				<li>Feel free to explore the profiles!</li>
				<li>Reach out to tutors that seem promising, describe your need clearly so they know what kind of help you are looking for!</li>
			</ul>	
		</div>

		<div class="col-sm">
			<h4 class="list-heading">Seeking to teach</h4>
			<ul>
				<li>Provide a fun bio info about yourself (if you want to).</li>
				<li>It would be helpful to everyone if you gave your available hours.</li>
				<li>Be sure to list the subjects/skills that you are most comfortable with.</li>
				<li>Avoid listing subjects that you don't know well enough to teach to someone else.</li>
				<li>Be sure to check for messages from students looking for help!</li>
			</ul>
		</div>

	</div>

	<div class="faq">
		<h4 class="list-heading">Frequently Asked Questions</h4>

		<div class="sub">
			<p class="question">How do I sign in?</p>
			<p class="answer">In order to sign in to the application, use your UP username and password. Login here!</p>

			<p class="question">How do I contact a tutor?</p>
			<p class="answer">To contact a tutor, click on their profile page. There you will find their email address! Make sure to use a strong subject line so they know what you're emailing about!</p>

			<p class="question">How do I leave a review?</p>
			<p class="answer">To leave a review, search for the user and click 'Leave a Review'.</p>

			<p class="question">How do I report an innappropriate review?</p>
			<p class="answer">To report a review, email tutorupadmin@up.edu.</p>

			<p class="question">How do I find UP hired tutors?</p>
			<p class="answer">To find a UP hired tutor, use the filters on the home page!</p>

			<p class="question">How do I know I'll be paid?</p>
			<p class="answer">Payment transactions are handled by the tutor and the tutee. Ask for payment at the beginning of the session if you are worried.</p>

			<p class="question">What do I do if someone outside of UP contacts me?</p>
			<p class="answer">If someone outside of UP contacts you, report it to tutorupadmin@up.edu immediately.</p>
		</div>

	</div>
</div>