<app-header></app-header>

<div class="container">

	<div class="row">
		<div class="user-image col-sm-3">
			<img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" height="200" width="200">
		</div>

		<div class="user-details col-sm-9">
			<div>
				<p class="name">{{ user.name }}</p>

				<p class="rating"><i class="material-icons">{{ tutorService.calculateStars(user.rating) }}</i></p>
			</div>

			<div>
				<span *ngFor="let tag of user.tags">
					<p class="tag">{{ tag }}</p>
				</span>
			</div>

			<div>
				<p class="user-info"><span class="label">Email:</span> {{ user.email }}</p>
				<p class="user-info"><span class="label">Major(s):</span> {{ user.major }}</p>
				<p class="user-info"><span class="label">Minor(s):</span> {{ user.minor }}</p>
			</div>
		</div>
	</div>

	<div class="subjects">
		<span *ngFor="let subject of user.subjects">
			<button mat-raised-button class="subject">{{ subject }}</button>
		</span>	
	</div>

	<p class="bio"><span class="label">About Me: </span>{{ user.bio }}</p>

	<p class="availability"><span class="label">Availability: </span>{{ user.availability }}</p>

	<div class="reviews">
		<h5>Reviews</h5>
		<mat-divider></mat-divider>
		<div *ngFor="let review of user.reviews">
			<div class="review">
				<p class="review-info">{{ review.reviewer }} ({{ review.date }})</p>
				<i class="material-icons">{{ tutorService.calculateStars(review.rating) }}</i>
				<p>{{ review.description }}</p>
			</div>
		</div>
	</div>

	<button mat-raised-button class="review-button">Leave a Review</button>


</div>


