<app-header></app-header>

<div class="container">


	<div class="filters">
	  <mat-form-field class="search">
	    <span matPrefix class="material-icons">search &nbsp;</span>		
	    <input type="search" matInput placeholder="Search for a Tutor...">
	  </mat-form-field>

	  <div class="row">
		  <mat-form-field class="col-sm">
		    <mat-select placeholder="Major Filter">
		      <mat-option value="option">Computer Science</mat-option>	
		      <mat-option value="option">Mathematics</mat-option>
		      <mat-option value="option">Nursing</mat-option>	
		      <mat-option value="option">Business</mat-option>
		      <mat-option value="option">Chemistry</mat-option>	
		      <mat-option value="option">Communications</mat-option>
		    </mat-select>
		  </mat-form-field>

		   <mat-form-field class="col-sm">
		    <mat-select placeholder="Grade Level Filter">
		      <mat-option value="option">Freshman</mat-option>
		      <mat-option value="option">Sophomore</mat-option>
		      <mat-option value="option">Junior</mat-option>
		      <mat-option value="option">Senior</mat-option>
		      <mat-option value="option">Graduate</mat-option>
		    </mat-select>
		  </mat-form-field>

		   <mat-form-field class="col-sm">
		    <mat-select placeholder="Tag Filter">
		      <mat-option value="option">Volunteer</mat-option>
		      <mat-option value="option">Paid</mat-option>
		      <mat-option value="option">SARC Approved</mat-option>
		      <mat-option value="option">Athletics Tutor</mat-option>
		      <mat-option value="option">ROTC Tutor</mat-option>
		    </mat-select>
		  </mat-form-field>
		</div>
	</div>


	<mat-card class="user-card">
		<mat-card-header>
			<img mat-card-avatar src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/p/6/005/09c/26d/0020967.jpg">	
			<mat-card-title>Alexa Baldwin <p class="rating"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i></p></mat-card-title>
			<mat-card-subtitle>Computer Science and Mathematics</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content>
			<mat-divider></mat-divider>

			<mat-list>
				<mat-list-item>
					<i mat-list-icon class="material-icons">local_offer</i>
					<h4 mat-line>Athletics Tutor, SARC Certified, Paid</h4>
				</mat-list-item>
				<mat-list-item>
					<i mat-list-icon class="material-icons">library_books</i>
					<h4 mat-line>CS 203, EGR 111, CS 305, CS 324</h4>
				</mat-list-item>
				<mat-list-item>
					<i mat-list-icon class="material-icons">event_available</i>
					<h4 mat-line>MWF 2:30pm - 5:30 pm. Other times by request.</h4>
				</mat-list-item>
			</mat-list>
		</mat-card-content>

		<mat-card-actions>	
			<button mat-button>view page</button>
			<button mat-button>rate tutor</button>
		</mat-card-actions>
	</mat-card>

	<mat-card class="user-card">
		<mat-card-header>
			<img mat-card-avatar src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/p/6/005/09c/26d/0020967.jpg">	
			<mat-card-title>Alexa Baldwin <p class="rating"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i></p></mat-card-title>
			<mat-card-subtitle>Computer Science and Mathematics</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content>
			<mat-divider></mat-divider>

			<mat-list>
				<mat-list-item>
					<i mat-list-icon class="material-icons">local_offer</i>
					<h4 mat-line>Athletics Tutor, SARC Certified, Paid</h4>
				</mat-list-item>
				<mat-list-item>
					<i mat-list-icon class="material-icons">library_books</i>
					<h4 mat-line>CS 203, EGR 111, CS 305, CS 324</h4>
				</mat-list-item>
				<mat-list-item>
					<i mat-list-icon class="material-icons">event_available</i>
					<h4 mat-line>MWF 2:30pm - 5:30 pm. Other times by request.</h4>
				</mat-list-item>
			</mat-list>
		</mat-card-content>

		<mat-card-actions>	
			<button mat-button>view page</button>
			<button mat-button>rate tutor</button>
		</mat-card-actions>
	</mat-card>

	<mat-card class="user-card">
		<mat-card-header>
			<img mat-card-avatar src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/p/6/005/09c/26d/0020967.jpg">	
			<mat-card-title>Alexa Baldwin <p class="rating"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i></p></mat-card-title>
			<mat-card-subtitle>Computer Science and Mathematics</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content>
			<mat-divider></mat-divider>

			<mat-list>
				<mat-list-item>
					<i mat-list-icon class="material-icons">local_offer</i>
					<h4 mat-line>Athletics Tutor, SARC Certified, Paid</h4>
				</mat-list-item>
				<mat-list-item>
					<i mat-list-icon class="material-icons">library_books</i>
					<h4 mat-line>CS 203, EGR 111, CS 305, CS 324</h4>
				</mat-list-item>
				<mat-list-item>
					<i mat-list-icon class="material-icons">event_available</i>
					<h4 mat-line>MWF 2:30pm - 5:30 pm. Other times by request.</h4>
				</mat-list-item>
			</mat-list>
		</mat-card-content>

		<mat-card-actions>	
			<button mat-button>view page</button>
			<button mat-button>rate tutor</button>
		</mat-card-actions>
	</mat-card>

	<mat-card class="user-card">
		<mat-card-header>
			<img mat-card-avatar src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/p/6/005/09c/26d/0020967.jpg">	
			<mat-card-title>Alexa Baldwin <p class="rating"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i></p></mat-card-title>
			<mat-card-subtitle>Computer Science and Mathematics</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content>
			<mat-divider></mat-divider>

			<mat-list>
				<mat-list-item>
					<i mat-list-icon class="material-icons">local_offer</i>
					<h4 mat-line>Athletics Tutor, SARC Certified, Paid</h4>
				</mat-list-item>
				<mat-list-item>
					<i mat-list-icon class="material-icons">library_books</i>
					<h4 mat-line>CS 203, EGR 111, CS 305, CS 324</h4>
				</mat-list-item>
				<mat-list-item>
					<i mat-list-icon class="material-icons">event_available</i>
					<h4 mat-line>MWF 2:30pm - 5:30 pm. Other times by request.</h4>
				</mat-list-item>
			</mat-list>
		</mat-card-content>

		<mat-card-actions>	
			<button mat-button>view page</button>
			<button mat-button>rate tutor</button>
		</mat-card-actions>
	</mat-card>

	<mat-card class="user-card">
		<mat-card-header>
			<img mat-card-avatar src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/p/6/005/09c/26d/0020967.jpg">	
			<mat-card-title>Alexa Baldwin <p class="rating"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i></p></mat-card-title>
			<mat-card-subtitle>Computer Science and Mathematics</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content>
			<mat-divider></mat-divider>

			<mat-list>
				<mat-list-item>
					<i mat-list-icon class="material-icons">local_offer</i>
					<h4 mat-line>Athletics Tutor, SARC Certified, Paid</h4>
				</mat-list-item>
				<mat-list-item>
					<i mat-list-icon class="material-icons">library_books</i>
					<h4 mat-line>CS 203, EGR 111, CS 305, CS 324</h4>
				</mat-list-item>
				<mat-list-item>
					<i mat-list-icon class="material-icons">event_available</i>
					<h4 mat-line>MWF 2:30pm - 5:30 pm. Other times by request.</h4>
				</mat-list-item>
			</mat-list>
		</mat-card-content>

		<mat-card-actions>	
			<button mat-button>view page</button>
			<button mat-button>rate tutor</button>
		</mat-card-actions>
	</mat-card>
</div>